build/
build-static/
build-merged/
rime-lua/
debug/
dist/
data/*
include/*
lib/*
bin/*
share/*
deps/*/*
plugins/*/
node_modules/
env.bat
*~
.*.swp
.omx/
.cache/
.agents/
.clangd
*.7z
.DS_Store
.gitnexus
